name: Build and run Unit tests

on:
  workflow_dispatch:
    inputs:
      includedTags:
        description: 'Tag'
        required: false
        default: 'fake'

jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run Tests
        run: |
          ./gradlew clean test \
          -Dctrf.build.name=Regression \
          -Dctrf.build.number=${{ github.run_number }} \
          -Dctrf.build.url=https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }} \
          -Dctrf.branch.name=${{ github.ref_name }} \
          -Dctrf.commit=${{ github.sha }} \
          -PincludedTags=${{ github.event.inputs.includedTags }}

      - name: Publish CTRF Test Report
        uses: ctrf-io/github-test-reporter@v1.0.26
        with:
          report-path: 'build/test-results/test/ctrf-report.json'

          summary-report: true
          test-report: true
          fail-rate-report: true
          failed-folded-report: true
          previous-results-report: true
          skipped-report: true

          annotate: true
          previous-results-max: 10
          artifact-name: 'ctrf-report'
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        if: always()

      - name: Send Test Results to Slack (OAuth)
        run: |
          npx slack-ctrf custom \
            build/test-results/test/ctrf-report.json \
            src/test/resources/ctrf-markdown.hbs \
            --markdown \
            --oauth-token "${{ secrets.SLACK_OAUTH_TOKEN }}" \
            --channel-id "${{ secrets.SLACK_CHANNEL_ID }}"
        if: always()

      - name: Upload test results
        uses: actions/upload-artifact@v5
        with:
          name: ctrf-report
          path: build/test-results
        if: always()
